openapi: 3.0.0
info:
  title: Авито API для бизнеса
  description: |
    # Общая информация
    Описание API произведено в формате [**Swagger 3.0**](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md).
    Вы можете использовать данный файл для ознакомления с методами API, а также для генерации базового
    кода для работы с API на удобном для вас языке программирования с помощью утилиты
    [**Swagger Codegen**](https://swagger.io/swagger-codegen/) или online сервиса [**Swagger Editor**](https://editor.swagger.io/).

    **Авито API для бизнеса предоставляется согласно [Условиям использования](https://api.avito.ru/docs/public/APITermsOfServiceV1.pdf).**

    По всем вопросам работы с API необходимо обращаться в Службу Поддержки профессиональных инструментов:

    <li>телефон: <b>+7 495 777-10-66</b></li>
    <li>email: <a href="mailto:supportautoload@avito.ru">supportautoload@avito.ru</a></li>

    # Типы авторизации
    Для использования данного API запрос должен быть авторизован. В данный момент API Авито использует следующие механизмы авторизации.

    <!-- ReDoc-Inject: <security-definitions> -->

    Подробнее о каждом механизме и его назначении можно прочитать в соответствующем разделе.
  contact:
    email: supportautoload@avito.ru
  version: "1"
servers:
- url: https://api.avito.ru/
tags:
- name: Access
  description: |
    Для работы с API от своего лица необходимо получить токен авторизации — отдельный для каждой учетной записи на Авито.

      1. Получаем **client_id** и **client_secret** в Службе Поддержки
      2. Выписываем себе токен:
         ```
         curl -i 'https://api.avito.ru/token/?grant_type=client_credentials&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>'
         ```
      3. Далее выполняем запросы к API с заголовком `Authorization: Bearer <ACCESS_TOKEN>`

      Время действия токена ограничено - 1 час с момента его получения.
      После этого вам необходимо получить новый токен.
  x-displayName: Персональная авторизация
- name: ApplicationAccess
  description: "Для работы с API приложений от лица пользователя есть возможность\
    \ получить токен через Authorization Code механизм протокола OAuth2. Для этого\
    \ в первую очередь нужно зарегистрировать приложение через службу поддержки. П\
    осле успешной регистрации ваше приложение получит возможность работать с API А\
    вито от лица пользователя (если последний выдаст на это разрешение).\n\nПодроб\
    нее об Authorization Code флоу протокола OAuth2 можно почитать [в статье](https://www.digitalocean.com/community/tutorials/oauth-2-ru).\
    \ Процесс работы с этим флоу в API Авито отличается только незначительными дет\
    алями – ниже по шагам описан процесс интеграции.\n\nОбратите внимание, что не\
    \ все доступные API сейчас работают через механизм авторизации для приложений\
    \ (в данный момент только API мессенджера Авито поддерживает этот механизм). \n\
    \n### Шаг 1: Регистрация приложения\n\nРегистрируем приложение через Службу По\
    ддержки. Для регистрации нужно указать:\n\n* Имя приложения, которое будет выв\
    одиться пользователям в форме подтверждения прав\n* ID пользователя Авито, кот\
    орому будут принадлежать права на зарегистрированное приложение\n* Redirect URI\
    \ - адрес, на который сайт Авито средиректит пользователя после подтверждения\
    \ прав\n* Скоупы, которые необходимы вашему приложению (подробнее о доступных\
    \ скоупах ниже)\n* Описание приложения - для каких целей вы планируете использ\
    овать доступ к данным\n\nВ данный момент мы регистрируем только доверенные при\
    ложения от наших партнеров.\n\nСкоупы определяют права, на которые ваше прилож\
    ение сможет рассчитывать после подверждения авторизации пользователем. Доступн\
    ые скоупы перечислены [тут](#section/Tipy-avtorizacii/Authorization%20Code).\n\
    \n### Шаг 2: Ссылка с кодом авторизации\n\nСначала пользователю предоставляетс\
    я ссылка следующего вида:\n\n```\nhttps://avito.ru/oauth?response_type=code&client_id=<CLIENT_ID>&scope=messenger:read,messenger:write\n\
    ```\n\n### Шаг 3: Пользователь авторизует приложение\n\nПользователь переходит\
    \ по ссылке на Авито, аутентифицируется при необходимости, затем подтверждает\
    \ выдачу необходимых прав вашему приложению.\n\n### Шаг 4: Приложение получает\
    \ код авторизации\n\nЕсли пользователь выбирает \"Авторизовать приложение\", А\
    вито перенаправляет пользовательский агент (браузер) по URI перенаправления (Redirect\
    \ URI), который был задан на этапе регистрации приложения и добавляет в него п\
    араметр `code`. Например, если при регистрации в качестве Redirect URI был ука\
    зан адрес `https://example.com/callback/avito`, то мы перенаправим пользовател\
    я на:\n\n```\nhttps://example.com/callback/avito?code=<AUTHORIZATION_CODE>\n```\n\
    \n### Шаг 5: Приложение запрашивает токен доступа\n\nПриложение запрашивает то\
    кен доступа у API Авито путём отправки авторизационного кода и аутентификацион\
    ной информации (включая секрет приложения). Ниже представлен пример GET-запрос\
    а для получения access token:\n\n```\nhttps://api.avito.ru/token/?grant_type=authorization_code&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&code=<AUTHORIZATION_CODE>\n\
    ```\n\n### Шаг 6: Приложение получает токен доступа\n\nЕсли авторизация прошла\
    \ успешно, API возвращает токен доступа (а также токен для обновления токена д\
    оступа - refresh token). Весь ответ сервера может выглядеть следующим образом\
    :\n\n```\n{\n    \"access_token\": \"<ACCESS_TOKEN>\",\n    \"expires_in\": 3600,\n\
    \    \"refresh_token\": \"<REFRESH_TOKEN>\",\n    \"scope\": \"messenger:read,messenger:write\"\
    ,\n    \"token_type\": \"Bearer\"\n}\n```\n\nПриложение сохраняет access_token\
    \ и refresh_token.\n\n### Шаг 7: Приложение делает запросы к API c токеном дос\
    тупа\n\nДалее приложение может выполнять запросы к API с заголовком `Authorization:\
    \ Bearer <ACCESS_TOKEN>`\n\n### Шаг 8: Приложение обновляет access_token\n\nВр\
    емя действия access token ограничено - 1 час с момента его получения. После эт\
    ого вам необходимо получить новый токен.\n\nПосле истечения срока действия ток\
    ена доступа все запросы к API с его использованием будут возвращать код ошибки\
    \ 403. Сохраненный refresh token может быть использован для получения нового т\
    окена доступа от авторизационного сервера.\n\nНиже представлен пример GET-запр\
    оса, использующего refresh token для обновления токена доступа:\n\n```\nhttps://api.avito.ru/token/?grant_type=refresh_token&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&refresh_token=<REFRESH_TOKEN>\n\
    ```\n\nВ ответ приложение получит точно такой же JSON, как и при обмене code н\
    а access token. При этом будет получен не только новый access_token, но и новы\
    й refresh_token. Обновите оба значения в своей базе данных.\n\n### Дополнитель\
    ный параметр state\n\nДля того чтобы защитить данные пользователей мы крайне р\
    екомендуем использовать параметр state. Этот параметр позволяет защититься от\
    \ CSRF-атак и восстановить состояние вашего приложения на момент начала автори\
    зации. Подробнее, зачем нужен параметр state, можно прочитать [тут](https://auth0.com/docs/protocols/oauth2/oauth-state).\n\
    \nДля того, чтобы использовать state – просто включите его в начальный URL:\n\n\
    ```\nhttps://avito.ru/oauth?response_type=code&client_id=<CLIENT_ID>&scope=messenger:read,messenger:write&state=<STATE>\n\
    ```\n\nВ итоге state будет содержаться в финальном Redirect URI, на который Ав\
    ито перенаправляет пользователя после подтверждения прав доступа. Например, ес\
    ли при регистрации в качестве Redirect URI был указан адрес `https://example.com/callback/avito`,\
    \ то мы перенаправим пользователя на:\n\n```\nhttps://example.com/callback/avito?code=<AUTHORIZATION_CODE>&state=<STATE>\n\
    ```\n\nНе передавайте чувствительные данные в открытом виде в этом параметре.\
    \ Генерируйте уникальное временное значение state в вашем приложении.\n"
  x-displayName: Авторизация для приложений
- name: User
  description: Методы API для получения информации о пользователе Авито
  x-displayName: Пользователь
- name: Autoload
  description: Методы API для получения информации об автозагрузке объявлений
  x-displayName: Сервис Автозагрузка
- name: Item
  description: Общие методы API для работы с объявлениями на Авито
  x-displayName: Объявления
- name: Autoteka
  description: |
    Методы API для работы с сервисом Автотека.

    Для того чтобы воспользоваться данным функционалом Вам необходимо стать партнером Автотеки.

    Стать официальным партнером и получить доступ к данным методам можно,
    подав заявку через [**Обратную связь с Autoteka**](https://autoteka.ru/feedback).

    В качестве темы запроса нужно указать **"Сотрудничество"**.


    **Алгоритм получения отчёта**

      1. Отправляем [запрос на создание превью по VIN](#operation/postPreviewByVin) или [запрос на создание превью по государственному номеру](#operation/postPreviewByRegNumber)
      2. Отправляем [запрос на получение превью по ID](#operation/getPreview)
      3. Проверяем статус:
          - Если `processing`, то повторяем шаг 2
          - Если `notFound`, то это значит, что по данному VIN нельзя сформировать отчёт
          - Если `success`, то отправляем [запрос на создание отчёта по превью](#operation/postReport)
  x-displayName: Автотека
- name: Realty
  description: Методы API для партнёров для работы с API краткосрочной аренды (STR)
  x-displayName: Краткосрочная аренда
- name: Job
  description: |
    Методы API для работы с функциональностью вертикали Авито Работа.
    <br><br>
    **Примечание**: Для автоматизации размещения вакансий на Авито вы можете
    использовать [сервис Автозагрузки](http://autoload.avito.ru/format/job/).
  x-displayName: Работа
- name: Messenger
  description: "Методы API для работы с Мессенджером.\n\n## Уведомления \n      \n\
    **Уведомления** – HTTP POST запрос от Авито к вашему сайту или приложению, так\
    же их называют **webhooks**. \nBody запроса представляет собой JSON.\n\n\nУвед\
    омления имеют версионирование. Подписаться на нужную версию уведомлений можно\
    \ отправив запрос на соответствующую ручку:\n* messenger/v1/webhook - 1-я верс\
    ия\n* messenger/v2/webhook - 2-я версия\n\nНесколько важных моментов при работ\
    е с уведомлениями:\n* При получении вебхука ваш сервер должен обязательно верн\
    уть HTTP status code 200\n* В случае сетевых ошибок, таймаутов и ответов с HTTP\
    \ статус кодом >= 500 мы пытаемся переотправить вебхук (несколько раз в течени\
    е нескольких секунд)\n* Если уведомление по пользователю длительное время отда\
    ет отличный от 200 HTTP статус код – подписка пользователя будет автоматически\
    \ удалена\n\n### Уведомления V2\nHTTP запрос к вашей системе будет содержать с\
    ледующий payload:\n```\n{\n  \"id\": \"3cc1cbe7-6477-4aad-9272-952f8afb3c30\"\
    ,\n  \"version\": \"v2.0.0\",\n  \"timestamp\": 1587562733,\n  \"payload\": {\n\
    \    \"type\": \"message\",\n    \"value\": {\n      \"id\": \"256347f56e4819deb6f8c59ff14d62a8\"\
    ,\n      \"type\": \"text\",\n      \"chat_id\": \"u2i-1123-1123\",\n      \"\
    user_id\": 94235311,\n      \"author_id\": 78743309,\n      \"created\": 1566290351,\n\
    \      \"content\": {\n        \"text\": \"привет\"\n      }\n    }\n  }\n}\n\
    ```\n\nPayload состоит из полей:\n* type – тип нотификации. На данный момент п\
    оддерживается только **message**.\n* value – поля нотификации. В зависимости о\
    т типа нотификации, value будет иметь разные поля. **Необходимо** обрабатывать\
    \ неизвестный тип уведомления.\nЕсли ваше приложение получило тип нотификации\
    \ которое еще не поддерживается, то его нужно залогировать или пропустить, но\
    \ **обязательно ответить HTTP кодом 200**.\n\n#### type:message\nНотификация с\
    \ типом message будет содержать value c полями:\n```\n\"value\": {\n  \"id\":\
    \ \"256347f56e4819deb6f8c59ff14d62a8\",\n  \"type\": \"text\",\n  \"chat_id\"\
    : \"u2i-1123-1123\",\n  \"user_id\": 94235311,\n  \"author_id\": 78743309,\n \
    \ \"created\": 1566290351,\n  \"content\": {\n    \"text\": \"привет\"\n  }\n\
    ```\n* id – идентификатор сообщения. Уникален только в рамках чата, в котором\
    \ находится сообщение\n* chat_id – идентификатор чата\n* user_id – идентификат\
    ор пользователя, для которого пришло сообщение\n* author_id – идентификатор по\
    льзователя, создавшего сообщение\n* created – время создания сообщения, unix timestamp\n\
    * type – тип сообщения. Типы сообщений поддерживаются: text, image, item, location,\
    \ call, link\n* content – тело сообщения. Поля такие же как и в [API получения\
    \ сообщений](https://api.avito.ru/docs/api.html#operation/getMessages)\n\n###\
    \ Уведомления V1\nHTTP запрос к вашей системе будет содержать следующий payload:\n\
    ```\n{\n    \"id\": \"c7a799b4-c6f3-4d8c-88cc-6d7a1d69e6f8\",\n    \"version\"\
    : \"v1.0.0\",\n    \"timestamp\": 1566290351,\n    \"messages\": [\n      {\n\
    \        \"id\": \"256347f56e4819deb6f8c59ff14d62a8\",\n        \"chat_id\": \"\
    u2i-1773856013-78743309\",\n        \"user_id\": 94235311,\n        \"author_id\"\
    : 78743309,\n        \"created\": 1566290351,\n        \"type\": \"text\",\n \
    \       \"content\": {\n          \"text\": \"asd\"\n        }\n      }\n    ]\n\
    \  }\n```\nЕсли тип сообщения не поддерживается в нотификациях, поле content б\
    удет пустым объектом.\n\nУведомление содержит поля:\n* id – идентификатор увед\
    омления. С его помощью вы можете определить доставлялось ли в вашему сайту так\
    ое уведомление или нет для избежания дублирования сообщений.\n* version – верс\
    ия уведомлений. Версия отражает текущую структуру уведомлений: название и типы\
    \ полей. Если изменится структура, то и изменится версия согласно Semantic Versioning\
    \ Specification\n* timestamp – время создания уведомления, unix timestamp\n* messages\
    \ – массив объектов сообщений\n\nОбъекты массива **messages** содержат поля:\n\
    * id – идентификатор сообщения. Уникален только в рамках чата, в котором наход\
    ится сообщение\n* chat_id – идентификатор чата\n* user_id – идентификатор поль\
    зователя, для которого пришло сообщение\n* author_id – идентификатор пользоват\
    еля, создавшего сообщение\n* created – время создания сообщения, unix timestamp\n\
    * type – тип сообщения. Типы сообщений поддерживаются такие же как и в API пол\
    учения сообщений\n* content – тело сообщения. Поля такие же как и в [API получ\
    ения сообщений](https://api.avito.ru/docs/api.html#operation/getMessages)\n"
  x-displayName: Мессенджер
paths:
  /token/?grant_type=client_credentials:
    get:
      tags:
      - Access
      summary: Получение access token
      description: Получения временного ключа для авторизации
      operationId: getAccessToken
      parameters:
      - name: grant_type
        in: query
        description: Тип OAuth flow – строка client_credentials
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_secret
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          x-examples:
            application/json:
              access_token: kChqt9ewQNAcwgbHp4yFd5
              expires_in: 3600
              token_type: Bearer
      x-swagger-router-controller: Access
  /token/?grant_type=authorization_code:
    get:
      tags:
      - ApplicationAccess
      summary: Получение access token
      description: Получения временного ключа для авторизации запроса от лица пользователя
      operationId: getAccessTokenAuthorizationCode
      parameters:
      - name: grant_type
        in: query
        description: Тип OAuth flow. Строка authorization_code
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_secret
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: code
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          x-examples:
            application/json:
              access_token: kChqt9ewQNAcwgbHp4yFd5
              expires_in: 3600
              token_type: Bearer
              scope: messenger:read,messenger:write
              refresh_token: QNAcwgbHQNAcwgbHkChqt9ewQNAcwgbHp4yFd5
      x-swagger-router-controller: ApplicationAccess
  /token/?grant_type=refresh_token:
    get:
      tags:
      - ApplicationAccess
      summary: Обновление access token
      description: Обновление временного ключа для авторизации запроса от лица пользователя
      operationId: refreshAccessTokenAuthorizationCode
      parameters:
      - name: grant_type
        in: query
        description: Тип OAuth flow. Строка refresh_token
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_secret
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: refresh_token
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          x-examples:
            application/json:
              access_token: 5dFy4pHbgwcANQwe9tqhCk
              expires_in: 3600
              token_type: Bearer
              scope: messenger:read,messenger:write
              refresh_token: 5dFy4pHbgwcANQwe9tqhCkHbgwcANQHbgwcANQ
      x-swagger-router-controller: ApplicationAccess
  /autoload/v1/accounts/{user_id}/reports/:
    get:
      tags:
      - Autoload
      summary: Список отчетов об автозагрузке
      description: |
        Отчеты отсортированы в порядке убывания даты загрузки,
        т.е. самый свежий отчет будет в самом начале списка
      operationId: getReports
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: per_page
        in: query
        description: Количество ресурсов на страницу
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
      - name: page
        in: query
        description: Номер страницы
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAutoload'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoload
  /autoload/v1/accounts/{user_id}/reports/{reportId}/:
    get:
      tags:
      - Autoload
      summary: Получение данных отчета по ID
      description: |
        Возвращает данные одного отчета об автозагрузке по ID отчета
      operationId: getReportById
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: reportId
        in: path
        description: Идентификатор отчета
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAutoload'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoload
  /autoload/v1/accounts/{user_id}/reports/last_report/:
    get:
      tags:
      - Autoload
      summary: Получение данных последнего актуального отчета
      description: |
        Возвращает данные отчета о последнем завершенном цикле автозагрузки
      operationId: getLastReport
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAutoload'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoload
  /autoload/v1/accounts/{user_id}/items/{ad_id}/:
    get:
      tags:
      - Autoload
      summary: Получение информации о выгрузке объявления
      description: |
        Возвращает данные отчета о выгрузке объявления на сайт **avito.ru**
      operationId: getAutoloadItemInfo
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: ad_id
        in: path
        description: Идентификатор объявления из XML
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemInfoAutoload'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoload
  /core/v1/accounts/{user_id}/items/{item_id}/:
    get:
      tags:
      - Item
      summary: Получение информации по объявлению
      description: |
        Возвращает данные об объявлении - его статус, список примененных услуг, статистику просмотров
      operationId: getItemInfo
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: Идентификатор объявления на сайте
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemInfoAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Item
  /core/v1/accounts/{user_id}/stats/items:
    post:
      tags:
      - Item
      summary: Получение статистики по объявлениям
      description: |
        Получение статистики по списку идентификаторов объявлений на сайте.
      operationId: getItemsStats
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        description: Набор идентификаторов объявлений на сайте
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itemIdsRequestBody'
            example:
              item_ids:
              - 1234567
              - 7654321
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          x-examples:
            application/json:
              stats:
                <item_id_1>:
                  item_views: 0
                  contact_views: 0
                <item_id_2>:
                  item_views: 0
                  contact_views: 0
              errors:
                not_found:
                - <item_id_3>
                - <item_id_4>
                invalidate_values:
                - <item_id_5>
                - <item_id_6>
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Item
  /core/v1/accounts/{user_id}/price/vas:
    post:
      tags:
      - Item
      summary: Получение информации о стоимости дополнительных услуг
      description: |
        Возвращает в ответ объект со следующей структурой:
        - `vas` – объект, который содержит информацию о стоимости дополнительных услуг для каждого объявления.
        Ключами являются идентификаторы объявлений, значениями – объекты с информацией о стоимости услуг для данного объявления:
          - `premium` — [услуга продвижения "Премиум"](https://support.avito.ru/articles/200026868)
          - `vip` — [услуга продвижения "VIP"](https://support.avito.ru/articles/200026848)
          - `pushup` — [услуга продвижения "Поднять"](https://support.avito.ru/articles/200026828)
          - `highlight` — [услуга продвижения "Выделить"](https://support.avito.ru/articles/200026858)
          - `xl` – [услуга продвижения "XL-объявление"](https://support.avito.ru/articles/685)
        - `errors` – идентификаторы объявлений, для которых информация не получена.
      operationId: getVasPrices
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        description: Набор идентификаторов объявлений на сайте
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itemIdsRequestBody'
            example:
              item_ids:
              - 1234567
              - 7654321
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          x-examples:
            application/json:
              vas:
                "1163461995":
                  premium: 419
                  vip: 179
                  pushup: 119
                  highlight: 119
                  xl: 199
              errors:
              - "1358611169"
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Item
  /core/v1/accounts/{user_id}/price/vas_packages:
    post:
      tags:
      - Item
      summary: Получение информации о стоимости пакетов дополнительных услуг
      description: |
        Возвращает в ответ объект со следующей структурой:
        - `packages` – объект, который содержит информацию о стоимости пакетов дополнительных услуг для каждого объявления.
        Ключами являются идентификаторы объявлений, значениями – объекты с информацией о стоимости пакетов услуг для данного объявления:
          - `turbo_sale` - [пакет услуг продвижения "Турбопродажа"](https://support.avito.ru/articles/200026838)
          - `quick_sale` - [пакет услуг продвижения "Быстрая продажа"](https://support.avito.ru/articles/679)
        - `errors` – идентификаторы объявлений, для которых информация не получена.
      operationId: getVasPackagePrice
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        description: Набор идентификаторов объявлений на сайте
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itemIdsRequestBody'
            example:
              item_ids:
              - 1234567
              - 7654321
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          x-examples:
            application/json:
              packages:
                "1163461995":
                  turbo_sale: 779
                  quick_sale: 359
              errors:
              - "1358611169"
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Item
  /core/v1/accounts/{user_id}/items/{item_id}/vas:
    put:
      tags:
      - Item
      summary: Применение дополнительных услуг
      description: |
        Применение дополнительной услуги к объявлению, в ответе возвращает данные о примененной услуге и сумму списания.
        [Более подробная информация по дополнительным услугам](https://support.avito.ru/sections/200009758)
      operationId: putItemVas
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: Идентификатор объявления на сайте
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vasIdRequestBody'
            example:
              vas_id: premium
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VasApplyAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Item
  /core/v1/accounts/{user_id}/items/{item_id}/vas_packages:
    put:
      tags:
      - Item
      summary: Применение пакета дополнительных услуг
      description: |
        Применение пакета дополнительных услуг к объявлению, в ответе возвращает данные о примененной услуге и сумму списания
      operationId: putItemVasPackage
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: Идентификатор объявления на сайте
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/packageIdRequestBody'
            example:
              package_id: turbo_sale
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VasPackageApplyAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Item
  /core/v2/accounts/{user_id}/items/{item_id}/vas_packages:
    put:
      tags:
      - Item
      summary: Применение пакета дополнительных услуг
      description: |
        Применение пакета дополнительных услуг к объявлению, в ответе возвращает сумму списания
      operationId: putItemVasPackageV2
      parameters:
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: Идентификатор объявления на сайте
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/packageIdRequestBodyV2'
            example:
              package_id: turbo_sale
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VasAmountAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Item
  /core/v1/accounts/{user_id}/items/{item_id}/bookings:
    post:
      tags:
      - Realty
      summary: Заполнение календаря занятости объекта недвижимости
      description: |
        Заполнение календаря занятости объекта недвижимости (для краткосрочной аренды)
      operationId: putBookingsInfo
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: Идентификатор объявления на сайте
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCalendarData'
            example:
              bookings:
              - date_start: 2018-03-23
                date_end: 2018-03-25
              - date_start: 2018-05-23
                date_end: 2018-07-25
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Realty
  /core/v1/accounts/{user_id}/balance/:
    get:
      tags:
      - User
      summary: Получение баланса кошелька пользователя
      description: |
        Возвращает сумму реальных денежных средств в кошельке, а также сумму бонусных средств
      operationId: getUserBalance
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        "401":
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        "403":
          description: Неверный Token/Oauth Scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          description: Неверный user_id в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
        "500":
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        "503":
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
      security:
      - Authorization Code:
        - user_balance:read
      - Client Credentials: []
      x-swagger-router-controller: User
  /autoteka/v1/request-preview-by-item-id:
    post:
      tags:
      - Autoteka
      summary: Запрос на создание превью по ID объявления
      description: |
        Возвращает идентификатор `previewId`, по которому асинхронно с помощью [запроса на получение превью по ID](#operation/getPreview) можно получить результат
      operationId: postPreviewByItemId
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPreviewByItemIdAutoteka'
            example:
              itemId: 1234567
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
  /autoteka/v1/request-preview-by-regnumber:
    post:
      tags:
      - Autoteka
      summary: Запрос на создание превью по государственному номеру
      description: |
        Возвращает идентификатор `previewId`, по которому асинхронно с помощью [запроса на получение превью по ID](#operation/getPreview) можно получить результат
      operationId: postPreviewByRegNumber
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPreviewByRegNumberAutoteka'
            example:
              regNumber: X777XX777
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
  /autoteka/v1/previews:
    post:
      tags:
      - Autoteka
      summary: Запрос на создание превью по VIN
      description: |
        Возвращает идентификатор `previewId`, по которому асинхронно с помощью [запроса на получение превью по ID](#operation/getPreview) можно получить результат
      operationId: postPreviewByVin
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPreviewByVinAutoteka'
            example:
              vin: XTA210990Y2766111
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
  /autoteka/v1/previews/{previewId}:
    get:
      tags:
      - Autoteka
      summary: |
        Запрос на получение превью по ID
      description: |
        Возвращает текущий статус сбора информации превью, и краткую инфо по запрашиваемому `VIN`
      operationId: getPreview
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: previewId
        in: path
        description: Идентификатор превью
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
  /autoteka/v1/reports:
    post:
      tags:
      - Autoteka
      summary: |
        Запрос на создание отчета по превью
      description: |
        Метод для запроса отчета по `previewId`, возвращает идентификатор отчета по которому сформированный отчет можно получить в [методе для получения отчета по его идентификатору](#operation/getReport). При запросе происходит списание доступных отчетов
      operationId: postReport
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestReportByPreviewIdAutoteka'
            example:
              previewId: 1111
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReportResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
  /autoteka/v1/reports/{report_id}:
    get:
      tags:
      - Autoteka
      summary: |
        Метод для получения отчета по ID
      description: |
        Получение подробного отчета по его идентификатору, полученному из [запроса на создание отчета](#operation/postReport)
      operationId: getReport
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: report_id
        in: path
        description: Идентификатор отчета.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
    put:
      tags:
      - Autoteka
      summary: |
        Метод для обновление отчета по его идентификатору в случае отсуствия данных
      description: |
        Запрос на перегенерацию отчета по ID, который был получен из [запроса на создание отчета](#operation/postReport)
      operationId: putReport
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: report_id
        in: path
        description: Идентификатор отчета.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateReportResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
  /autoteka/v1/packages/active_package:
    get:
      tags:
      - Autoteka
      summary: |
        Метод для запроса остатка отчётов в текущем пакете пользователя
      description: |
        Возвращает остаток отчётов в текущем пакете пользователя
      operationId: getActivePackage
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivePackageResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Autoteka
  /realty/v1/accounts/{user_id}/items/{item_id}/prices:
    post:
      tags:
      - Realty
      summary: |
        Актуализация параметров для выбранных периодов
      description: |
        Обновляет параметры (цена за ночь, доплата за гостя, минимальная продолжительность брони) для
        каждого из переданных диапазонов дат
      operationId: postRealtyPrices
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: Идентификатор объявления на сайте
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamPricesRealty'
            example:
              prices:
              - date_from: 2018-06-02
                date_to: 2018-06-14
                minimal_duration: 1
                extra_guest_fee: 500
                night_price: 1500
              - date_from: 2018-06-15
                date_to: 2018-07-15
                minimal_duration: 7
                extra_guest_fee: 1000
                night_price: 5000
        required: true
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Realty
  /realty/v1/accounts/{user_id}/items/{item_id}/bookings:
    get:
      tags:
      - Realty
      summary: |
        Получение списка броней по объявлению
      description: |
        Возвращает информацию о бронированиях объекта за весь период.
      operationId: getRealtyBookings
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Номер пользователя в Личном кабинете Авито
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_id
        in: path
        description: Идентификатор объявления на сайте
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: date_start
        in: query
        description: Фильтр, ограничивающий выборку по нижней границе дат
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-01-01
      - name: date_end
        in: query
        description: Фильтр, ограничивающий выборку по верхней границе дат
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-05-01
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Realty
  /job/v1/resumes/:
    get:
      tags:
      - Job
      summary: |
        Поиск резюме
      operationId: getResumes
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: per_page
        in: query
        description: Количество записей на странице (положительное число больше 0
          и меньше 100)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 50
          default: 25
      - name: page
        in: query
        description: Номер страницы (положительное число больше 0)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 1
          default: 1
      - name: cursor
        in: query
        description: Курсор поиска (если не указан, будет начат новый поиск и его
          курсор будет возвращен в ответе)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int64
      - name: fields
        in: query
        description: Поля ответа (можно указать несколько значений через запятую)
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: title,specialization,total_experience,salary
          enum:
          - title
          - location
          - specialization
          - education_level
          - total_experience
          - gender
          - age
          - salary
          - is_purchased
          - created_at
          - updated_at
      - name: query
        in: query
        description: Поисковая фраза
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: оператор call-центра
      - name: location
        in: query
        description: |
          Идентификатор региона поиска (можно указать несколько значений через запятую)
          <br>
          Метод принимает идентификаторы сущностей Region и City из [справочника](http://autoload.avito.ru/format/Locations.xml).
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int64
          example: 637640
      - name: specialization
        in: query
        description: |
          Идентификатор сферы деятельности (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - 10166 - IT, интернет, телеком
          - 10167 - Медицина, фармацевтика
          - 10168 - Продажи
          - 10169 - Страхование
          - 10170 - Транспорт, логистика
          - 10171 - Образование, наука
          - 10172 - Строительство
          - 10173 - Туризм, рестораны
          - 10174 - Фитнес, салоны красоты
          - 10175 - Без опыта, студенты
          - 10180 - Автомобильный бизнес
          - 10181 - Бухгалтерия, финансы
          - 10182 - Высший менеджмент
          - 10183 - Госслужба, НКО
          - 10184 - ЖКХ, эксплуатация
          - 10185 - Искусство, развлечения
          - 10186 - Консультирование
          - 10187 - Маркетинг, реклама, PR
          - 10188 - Охрана, безопасность
          - 10189 - Управление персоналом
          - 10190 - Юриспруденция
          - 10191 - Административная работа
          - 10192 - Банки, инвестиции
          - 10193 - Производство, сырьё, с/х
          - 16844 - Домашний персонал
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int64
      - name: schedule
        in: query
        description: |
          График работы (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - partial-day - Неполный рабочий день
          - full-day - Полный рабочий день
          - fly-in-fly-out - Вахтовый метод
          - flexible - Гибкий график
          - shift - Сменный график
          - remote - Удаленная работа
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: remote
          enum:
          - partial-day
          - full-day
          - fly-in-fly-out
          - flexible
          - shift
          - remote
      - name: business_trip_readiness
        in: query
        description: |
          Готовность к командировкам (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - ready - Готов
          - never - Не готов
          - sometimes - Иногда
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ready
          - never
          - sometimes
      - name: relocation_readiness
        in: query
        description: |
          Готовность к переезду (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - possible - Возможен
          - never - Невозможен
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - possible
          - never
      - name: gender
        in: query
        description: |
          Пол (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - female - Женщина
          - male - Мужчина
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - female
          - male
      - name: age_min
        in: query
        description: Минимальный возраст (включительно, положительное число от 18
          до 99)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          default: 18
      - name: age_max
        in: query
        description: Максимальный возраст (включительно, положительное число от 18
          до 99)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          default: 99
      - name: education_level
        in: query
        description: |
          Уровень образования (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - higher - Высшее
          - unfinished-higher - Неоконченное высшее
          - secondary - Среднее
          - special-secondary - Среднее специальное
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: unfinished-higher
          enum:
          - higher
          - unfinished-higher
          - secondary
          - special-secondary
      - name: experience_min
        in: query
        description: Минимальный стаж работы (включительно, положительное число от
          0 до 50)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          default: 0
      - name: experience_max
        in: query
        description: Максимальный стаж работы (включительно, положительное число от
          0 до 50)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 3
          default: 50
      - name: salary_min
        in: query
        description: Минимальный размер заработной платы (включительно, положительное
          число)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int64
          default: 0
      - name: salary_max
        in: query
        description: Максимальный размер заработной платы (включительно, положительное
          число)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int64
          example: 25000
      - name: updated_than
        in: query
        description: Дата последнего обновления
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/  '
        "400":
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
        "401":
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        "500":
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        "503":
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Job
  /job/v1/resumes/{resume_id}/:
    get:
      tags:
      - Job
      summary: |
        Просмотр резюме
      operationId: getResume
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: resume_id
        in: path
        description: Идентификатор резюме
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: Поля ответа (можно указать несколько значений через запятую)
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: title,specialization,total_experience,salary
          enum:
          - title
          - description
          - url
          - experience
          - education
          - language
          - location
          - photos
          - specialization
          - schedule
          - education_level
          - gender
          - total_experience
          - age
          - citizenship
          - business_trip_readiness
          - relocation_readiness
          - salary
          - is_purchased
          - created_at
          - updated_at
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resume'
        "400":
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
        "401":
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        "404":
          description: Резюме не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
        "500":
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        "503":
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Job
  /job/v1/resumes/{resume_id}/contacts/:
    get:
      tags:
      - Job
      summary: |
        Доступ к контактным данным соискателя
      description: |
        Для получения контактов пользователя необходимо приобрести пакет просмотров
        контактных данных в [личном кабинете](https://www.avito.ru/account/cv_packages).
      operationId: getResumeContacts
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: resume_id
        in: path
        description: Идентификатор резюме
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeContacts'
        "400":
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
        "401":
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        "402":
          description: Требуется пополнение пакета просмотров резюме
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchasingError'
        "404":
          description: Резюме не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
        "500":
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        "503":
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
      security:
      - Client Credentials: []
      x-swagger-router-controller: Job
  /messenger/v1/webhook:
    post:
      tags:
      - Messenger
      summary: Включение уведомлений (webhooks)
      description: |
        Включение уведомлений
      operationId: postWebhook
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        description: Url на который будут отправляться уведомления
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhookSubscribeRequestBody'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          x-examples:
            application/json:
              ok: true
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-code-samples:
      - lang: PHP
        source: "$ch = curl_init(\"https://api.avito.ru/messenger/v1/webhook\");\n\
          curl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t\"Content-Type: application/json\"\
          ,\n\t\"Authorization: Bearer <TOKEN>\",\n]);\ncurl_setopt($ch, CURLOPT_POST,\
          \ true);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode([\n\t\"url\"\
          \ => \"https://test.test\",\n], JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES));\n\
          \ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n$result = curl_exec($ch);\n\
          curl_close($ch);"
      x-swagger-router-controller: Messenger
  /messenger/v2/webhook:
    post:
      tags:
      - Messenger
      summary: Включение уведомлений V2 (webhooks)
      description: |
        Включение **V2** уведомлений. <LINK_TO_V2_WEBHOOKS>
      operationId: postWebhookV2
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        description: Url на который будут отправляться уведомления
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhookSubscribeRequestBody'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          x-examples:
            application/json:
              ok: true
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-code-samples:
      - lang: PHP
        source: "$ch = curl_init(\"https://api.avito.ru/messenger/v2/webhook\");\n\
          curl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t\"Content-Type: application/json\"\
          ,\n\t\"Authorization: Bearer <TOKEN>\",\n]);\ncurl_setopt($ch, CURLOPT_POST,\
          \ true);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode([\n\t\"url\"\
          \ => \"https://test.test\",\n], JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES));\n\
          \ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n$result = curl_exec($ch);\n\
          curl_close($ch);"
      x-swagger-router-controller: Messenger
  /messenger/v1/webhook/unsubscribe:
    post:
      tags:
      - Messenger
      summary: Отключение уведомлений (webhooks)
      description: |
        Отключение уведомлений
      operationId: postWebhookUnsubscribe
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      requestBody:
        description: Url, на который необходимо перестать слать уведомления
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhookSubscribeRequestBody'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          x-examples:
            application/json:
              ok: true
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-code-samples:
      - lang: PHP
        source: "$ch = curl_init(\"https://api.avito.ru/messenger/v1/webhook/unsubscribe\"\
          );\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t\"Content-Type: application/json\"\
          ,\n\t\"Authorization: Bearer <TOKEN>\",\n]);\ncurl_setopt($ch, CURLOPT_POST,\
          \ true);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode([\n\t\"url\"\
          \ => \"https://test.test\",\n], JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES));\n\
          \ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n$result = curl_exec($ch);\n\
          curl_close($ch);"
      x-swagger-router-controller: Messenger
  /messenger/v1/accounts/{user_id}/blacklist:
    post:
      tags:
      - Messenger
      summary: Добавление пользователя в blacklist
      description: |
        Добавление пользователя в blacklist
      operationId: postBlacklist
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        description: Добавление пользователя в blacklist
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addBlacklistRequestBody'
      security:
      - Authorization Code:
        - messenger:write
      - Client Credentials: []
      x-swagger-router-controller: Messenger
  /messenger/v1/accounts/{user_id}/chats/{chat_id}/messages/:
    get:
      tags:
      - Messenger
      summary: Получение списка сообщений
      description: |
        Получение списка сообщений
      operationId: getMessages
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: chat_id
        in: path
        description: Идентификатор чата (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: Количество сообщений на странице (положительное число больше
          0 и меньше 100)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 50
          default: 100
      - name: offset
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 50
          default: 0
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-swagger-router-controller: Messenger
  /messenger/v2/accounts/{user_id}/chats/{chat_id}/messages/:
    get:
      tags:
      - Messenger
      summary: Получение списка сообщений V2
      description: |
        Получение списка сообщений.  **Не помечает чат прочитанным**
        После успешного списка сообщений необходимо вызвать [метод](https://api.avito.ru/docs/api.html#operation/chatRead), который сделат чат прочитанным.
      operationId: getMessagesV2
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: chat_id
        in: path
        description: Идентификатор чата (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: Количество сообщений на странице (положительное число больше
          0 и меньше 100)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 50
          default: 100
      - name: offset
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 50
          default: 0
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-swagger-router-controller: Messenger
  /messenger/v1/accounts/{user_id}/chats/{chat_id}/messages:
    post:
      tags:
      - Messenger
      summary: Отправление сообщения
      description: |
        На данный момент можно отправить только текстовое сообщение
      operationId: postSendMessage
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: chat_id
        in: path
        description: Идентификатор чата (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Отправление сообщения
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendMessageRequestBody'
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          x-examples:
            application/json:
              id: bdcc5bac2d00345f1cc66fa657813958
              created: 1563202313
              content:
                text: привет!
              type: text
              direction: in
      security:
      - Authorization Code:
        - messenger:write
      - Client Credentials: []
      x-swagger-router-controller: Messenger
  /messenger/v1/accounts/{user_id}/chats/{chat_id}:
    get:
      tags:
      - Messenger
      summary: Получение информации по чату
      description: |
        Возвращает данные чата и последнее сообщение в нем
      operationId: getChatById
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: chat_id
        in: path
        description: Идентификатор чата (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-swagger-router-controller: Messenger
  /messenger/v1/accounts/{user_id}/chats:
    get:
      tags:
      - Messenger
      summary: Получение информации по чатам
      description: |
        Возвращает список чатов
      operationId: getChats
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: item_ids
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 12345,6789
      - name: unread_only
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: limit
        in: query
        description: Количество сообщений на странице (положительное число больше
          0 и меньше 100)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 50
          default: 100
      - name: offset
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: int32
          example: 50
          default: 0
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chats'
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-swagger-router-controller: Messenger
  /messenger/v1/accounts/{user_id}/chats/{chat_id}/read:
    post:
      tags:
      - Messenger
      summary: Прочитать чат
      description: |
        После успешного получения списка сообщений необходимо вызвать этот метод для того, чтобы чат стал прочитанным.
      operationId: chatRead
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: chat_id
        in: path
        description: Идентификатор чата (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
      security:
      - Authorization Code:
        - messenger:read
      - Client Credentials: []
      x-swagger-router-controller: Messenger
  /messenger/v1/accounts/{user_id}/chats/{chat_id}/messages/{message_id}:
    post:
      tags:
      - Messenger
      summary: Удаление сообщения
      description: |
        Сообщение не пропадает из истории, а меняет свой тип на deleted.
        Удалять можно только те сообщения которые не старше часа с момента их создания.
      operationId: deleteMessage
      parameters:
      - name: Authorization
        in: header
        description: Токен для авторизации
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: Bearer &lt;ACCESS_TOKEN&gt;
      - name: user_id
        in: path
        description: Идентификатор пользователя (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: chat_id
        in: path
        description: Идентификатор чата (клиента)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: message_id
        in: path
        description: Идентификатор сообщения
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
      security:
      - Authorization Code:
        - messenger:write
      - Client Credentials: []
      x-swagger-router-controller: Messenger
components:
  schemas:
    ItemInfoErrorAutoload:
      type: object
      properties:
        code:
          type: number
          description: Идентификатор события
          format: int32
        title:
          type: string
          description: Заголовок
        description:
          type: string
          description: Описание
        manual:
          type: string
          description: Ссылка на документацию
          nullable: true
      example:
        code: 6.02745618307040320615897144307382404804229736328125
        description: description
        title: title
        manual: manual
    InfoVas:
      type: object
      properties:
        vas_id:
          type: string
          description: Идентификатор услуги
          enum:
          - vip
          - highlight
          - pushup
          - premium
          - xl
        finish_time:
          type: string
          description: Дата завершения услуги
          format: date-time
          nullable: true
        schedule:
          type: array
          description: Информация о следующих применениях услуги
          nullable: true
          items:
            type: string
            description: Дата следующего применения услуги
            format: date-time
      example:
        schedule:
        - 2000-01-23T04:56:07.000+00:00
        - 2000-01-23T04:56:07.000+00:00
        vas_id: vip
        finish_time: 2000-01-23T04:56:07.000+00:00
    PackageInfoVas:
      type: object
      properties:
        package_id:
          type: string
          description: Идентификатор услуги
          enum:
          - turbo_sale
          - quick_sale
        start_time:
          type: string
          description: Дата применения услуги
          format: date-time
          nullable: true
        finish_time:
          type: string
          description: Дата завершения услуги
          format: date-time
          nullable: true
        name:
          type: string
          description: Русскоязычное название услуги
      example:
        start_time: 2000-01-23T04:56:07.000+00:00
        name: name
        package_id: turbo_sale
        finish_time: 2000-01-23T04:56:07.000+00:00
    ShortStatInfo:
      type: object
      properties:
        item_views:
          type: number
          description: Кол-во просмотров объявления на текущий момент
          format: int32
        contact_views:
          type: number
          description: Кол-во просмотров контактов объявления на текущий момент
          format: int32
      description: Информация по просмотрам объявления
      example:
        item_views: 0.80082819046101150206595775671303272247314453125
        contact_views: 6.02745618307040320615897144307382404804229736328125
    FieldError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Код ошибки
        message:
          type: string
          description: Описание ошибки
    ItemInfoAutoload:
      type: object
      properties:
        avito_id:
          type: number
          description: Идентификатор объявления на сайте
          format: int32
          nullable: true
        url:
          type: string
          description: URL объявления на сайте
          nullable: true
        status:
          type: string
          description: |
            Статус выгрузки объявления:<br />
            `success` - Успешно опубликовано<br />
            `problem` - Опубликовано с проблемами<br />
            `error` - Не удалось опубликовать<br />
            `not_publish` - Не нужно публиковать<br />
            `will_publish_later` - Будут опубликованы позднее<br />
            `duplicate` - Дубликат объявления<br />
            `without_id` - Объявление без идентификатора<br />
            `deleted` - Удалено из файла<br />
            `unknown` - Возникли проблемы при определении статуса
          enum:
          - success
          - problem
          - error
          - not_publish
          - will_publish_later
          - duplicate
          - without_id
          - deleted
          - unknown
        status_detail:
          type: string
          description: |
            Подробный статус выгрузки объявления:
            <br />`success_added` - Объявление добавленно на сайт в последний цикл автозагрузки
            <br />`success_activated` - Объявление активировано из ранее снятых с публикации или завершенных
            <br />`success_activated_updated` - Объявление активировано из ранее снятых с публикации или завершенных и изменено
            <br />`success_updated` - Объявление было изменено
            <br />`success_skipped` - Объявление в данный цикл автозагрузки без изменений оставлено активным на сайте
            <br />`problem_obsolete` - Объявление в XML имеет устаревший формат. [Документация по формату](http://autoload.avito.ru/format/)
            <br />`problem_params_critical` - При обработке объявления возникли ошибки, связанные с описанием или значениями параметров. Если ошибки не исправить, то через какое-то время объявление исчезнет с сайта
            <br />`problem_params` - При обработке объявления возникли ошибки, связанные с описанием или значениями параметров
            <br />`problem_phone` - Проблемы с телефонным номером в контактной информации
            <br />`problem_images` - При обработке возникли ошибки размещения фотографий
            <br />`problem_vas` - При обработке возникли ошибки активации дополнительных услуг
            <br />`problem_other` - Возникли ошибки, отличные от перечисленных
            <br />`problem_several` - Возникло несколько разных ошибок, перечисленных выше
            <br />`error_fee` - Объявление не опубликовано на сайте из-за проблем с оплатой размещения
            <br />`error_params` - Не удалось опубликовать на сайте из-за ошибок, связанных с описанием или значениями параметров
            <br />`error_phone` - Не удалось опубликовать из-за проблем с телефонным номером в контактной информации
            <br />`error_rejected` - Объявление было отклонено модерацией из-за нарушений правил сайта
            <br />`error_blocked` - Объявление было заблокировано модерацией из-за нарушений правил сайта
            <br />`error_deleted` - Объявление невозможно обработать из-за того, что ранее объявления с таким ID (в XML-файле) было удалено с сайта
            <br />`error_other` - Возникли ошибки, отличные от перечисленных
            <br />`error_several` - Возникло несколько разных ошибок, перечисленных выше
            <br />`stopped_end_date_complete` - Не опубликовано или снято с публикации по причине истечения срока экспозиции, указанного в XML-файле
            <br />`stopped_end_date_error` - При попытке снятия с публикации возникли ошибки
            <br />`date_in_future` - Не опубликовано или снято с публикации по причине, что дата начала экспозиции, указанная в XML-файле, еще не наступила
            <br />`publish_later` - Не добавлено на сайт из-за ограничения на количество публикуемых за один цикл объявлений. Если вы хотите изменить режим автозагрузки ваших объявлений, обратитесь в Службу поддержки
            <br />`linker` - Объявления, похожие на размещенные ранее через Личный кабинет, по которым требуется принять решение: объединить с существующим или опубликовать как новое объявление
            <br />`removed_complete` - Объявление снято с публикации (завершенные), т.к. они были удалены из XML-файла
            <br />`removed_error` - Ошибки при попытке снятия с публикации
            <br />`need_sync` - Объявление ожидает синхронизации с сайтом
            <br />`duplicate` - Объявления имеют одинаковое описание
            <br />`without_id` - Объявление без идентификатора
          enum:
          - success_added
          - success_activated
          - success_activated_updated
          - success_updated
          - success_skipped
          - problem_obsolete
          - problem_params_critical
          - problem_params
          - problem_phone
          - problem_images
          - problem_vas
          - problem_other
          - problem_several
          - error_fee
          - error_params
          - error_phone
          - error_rejected
          - error_blocked
          - error_deleted
          - error_other
          - error_several
          - stopped_end_date_complete
          - stopped_end_date_error
          - date_in_future
          - publish_later
          - linker
          - removed_complete
          - removed_error
          - need_sync
          - duplicate
          - without_id
        warnings:
          type: array
          description: Ошибки, которые, в подавляющем большинстве случаев, информируют,
            но не требуют вмешательства (никак не влияют на статус обработки)
          items:
            $ref: '#/components/schemas/ItemInfoErrorAutoload'
        errors:
          type: array
          description: Ошибки, при возникновении которых публикация новых не происходит,
            уже опубликованные — остаются без изменений, VAS-услуги не применяются,
            завершенные — не реактивируются
          items:
            $ref: '#/components/schemas/ItemInfoErrorAutoload'
        alarm:
          type: array
          description: Ошибки, при которых публикация/обновление происходит, но при
            этом с объявлением есть проблема, которая требует вмешательства пользователя;
            публикация изменений, по-возможности, происходит
          items:
            $ref: '#/components/schemas/ItemInfoErrorAutoload'
        fee_info:
          $ref: '#/components/schemas/ItemInfoAutoload_fee_info'
        applied_vas:
          type: array
          description: |
            Список примененных при выгрузке дополнительных услуг
            - `premium` — [премиум-объявление](https://support.avito.ru/articles/200026868)
            - `vip` — [VIP-объявление](https://support.avito.ru/articles/200026848)
            - `pushup` — [поднятие объявления в поиске](https://support.avito.ru/articles/200026828)
            - `highlight` — [выделение объявления](https://support.avito.ru/articles/200026858)
            - `turbo_sale` - применение пакета [Турбо-продажа](https://support.avito.ru/articles/200026838)
            - `quick_sale` - применение пакета [Быстрая продажа](https://support.avito.ru/articles/200026838)
          items:
            type: string
            description: Идентификатор услуги
            enum:
            - vip
            - highlight
            - pushup
            - premium
            - turbo_sale
            - quick_sale
[...]
